.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.Hangman-Timer {
  height: 50px;
  width: 50px;
  font-size: 45px;
  color: coral;
  display: inline-block; }

.Hangman-Word {
  margin-left: auto;
  margin-right: auto; }
  .Hangman-Word-Letter {
    margin: 0 1px;
    background: darkcyan;
    color: darkblue;
    height: 50px;
    width: 50px;
    font-size: 45px;
    display: inline-block; }

.Hangman-InputLetter {
  display: inline-block;
  margin-top: 10px; }
  .Hangman-InputLetter input {
    width: 50px;
    height: 50px;
    font-size: 45px;
    color: darkcyan;
    padding-left: 10px;
    box-sizing: border-box; }

.Hangman-Message-Correct {
  color: forestgreen; }

.Hangman-Message-Error {
  color: crimson; }

.Hangman-HealthPoints-HpNumber {
  color: darkcyan;
  font-size: 30px; }

.GameInit {
  margin-top: 10px; }
  .GameInit-Input {
    margin-top: 10px;
    height: 30px;
    width: 250px;
    font-size: 30px;
    text-align: center; }
  .GameInit-Submit {
    height: 30px;
    vertical-align: super;
    margin: 2px; }
